    
{% extends "layout2.html" %}
{% block title %} Questionnaire {% endblock %}
{% block content %}
    <script type="text/javascript">
    function checkFields(e){
          var blankFields=10;
          var allInputs=$(":text");
          for(var i=0;i<allInputs.length;i++){
            if($.trim(allInputs[i].value)!=''){
              blankFields-=1;
            }
          }
          if(blankFields<10){
            document.controlform.submit();
          }else{
            e.preventDefault();
            $("#content").prepend("<p class=\"flashes\">Please enter at least one variable name</p>");
          }
        }  
           
    </script>
      <p class="text">Enter Control Variables</p>
      <form name="controlform" action="{{url_for('upload')}}" method="POST">
      <div class="questions mediumtext">
        <p>What are the variables that {{orgname}} measures because they provide important information about the process or the context in which {{orgname}} operates to provide {{pands}}. List all the variables for which you have collected data.</p>
      <p>How does {{orgname}} measure {{pands}}? You may provide up to ten control variables.</p><br/>
       1. <input id="name" name="controls"> <br/>
       2. <input id="name" name="controls"> <br/>
       3. <input id="name" name="controls"> <br/>
       4. <input id="name" name="controls"> <br/>
       5. <input id="name" name="controls"> <br/>
       6. <input id="name" name="controls"> <br/>
       7. <input id="name" name="controls"> <br/>
       8. <input id="name" name="controls"> <br/>
       9. <input id="name" name="controls"> <br/>
       10. <input id="name" name="controls"> <br/>
      </div>
      <button type="submit" class="buttons" onclick=javascript:checkFields(event)>Next</button>
      <input type="hidden" name="vartype" value="control">
      </form>
{% endblock %}
