{% extends "layout2.html" %}
{% block title %} Upload File {% endblock %}
{% block content %} 
<div class="steps">
<p class="text">a. Performance Variables: These variables represent the output parameters of the project. </p>
<p class="text">b. Input Variables: These variables identify the resources put into the project. </p>
<p class="text">c. Control Variables: These variables contribute indirectly to the performance of the project. </p>

</div>
<div class="vline"></div>
<div class="right">
<form action="select_vars" method="POST" enctype="multipart/form-data">
<button class="bigbuttons" style="width:400px;">Select Indicators and Upload Data</button>
</form>
</div>

{% endblock %}