{% extends "layout2.html" %}
{% block title %} Upload File {% endblock %}
{% block content %} 
<script>
	$(document).ready(function(){
		$("#answer").removeClass("box-highlighted").addClass("box");
		$("#upload").addClass("box-highlighted").removeClass("box");
	})
</script>
<div class="steps"><p class="text">Please upload the file with the dataset. The next step would be to identify key indicator variables in your dataset.</p></div>
<div class="vline"></div>
<div class="text right">
<form action="showvars" method="POST" enctype="multipart/form-data">
{% if varfile!="" %}
You have already uploaded a file named: <span style="color:blue;"> {{ varfile }} </span>
<br><br>
{%endif%}
Upload New File 
<input type="file" class="smalltext" name="varlist" >
<br><br>
<button class="buttons">Submit</button>
</form>
</div>

{% endblock %}