    
{% extends "layout2.html" %}
{% block title %} Questionnaire {% endblock %}
{% block content %}
    <script type="text/javascript">
    function checkFields(e){
          var blankFields=5;
          var allInputs=$(":text");
          var inputs=new Array();
          for(var i=0;i<allInputs.length;i++){
            if($.trim(allInputs[i].value)!=''){
              blankFields-=1;
              inputs.push(allInputs[i].value);
            }
            
          }
          if(blankFields<5){
            var duplicates=0;
            var unique_length=getUniqueArrayLength(inputs);
            if(unique_length<inputs.length){
              duplicates=1;
            }
            if(duplicates==0){
              document.outputform.submit();
            }
            else{
              e.preventDefault();
              $("#content").prepend("<p class=\"flashes\">Please enter unique names for variables</p>");
            }
          }else{
            e.preventDefault();
            $("#content").prepend("<p class=\"flashes\">Please enter at least one variable name</p>");
          }
        }  
          
    function getUniqueArrayLength(inputArray){
      var outputArray = [];
      for (var i = 0; i < inputArray.length; i++){
        if ((jQuery.inArray(inputArray[i], outputArray)) == -1){
          outputArray.push(inputArray[i]);
        }
      }
      return outputArray.length;
    }     
  
    </script>
      <p class="text">Enter Input Variables</p>
      <form name="inputform" action="{{url_for('variables')}}" method="POST">
      <div class="questions mediumtext">
      <p>How does {{orgname}} measure {{pands}} provided to your users or customers?
      You may provide up to five possible input variables.</p>
      <p>Some input variables may be controls, so put any input variables you are not certain about under controls (below).</p><br/>
      1. <input id="name" name="inputs"> <br/>
      2. <input id="name" name="inputs"> <br/>
      3. <input id="name" name="inputs"> <br/>
      4. <input id="name" name="inputs"> <br/>
      5. <input id="name" name="inputs"> <br/>
      </div>
      <button type="submit" class="buttons" onclick=javascript:checkFields(event)>Next</button>
      <input type="hidden" name="vartype" value="input">
      </form>
{% endblock %}
