    
{% extends "layout2.html" %}
{% block title %} Questionnaire {% endblock %}
{% block content %}
    <script type="text/javascript">
         function keyHandler(e){
          var ENTERKEY=13;
          if(e.keyCode==ENTERKEY){
            count=count+1;  
            orgname=$('#orgname').val();
            ques[2]="Describe "+orgname+"'s product or service you would like to evaluate."
            ques[3]="Who is "+orgname+"'s direct customer/client?"
            client=$('#client').val();
            ques[4]="Does "+client+" serve others?"
            ques[5]="What is "+orgname+"'s mission statement in one sentence?"
            ques[6]="What is "+orgname+"'s sector?"
            if(count==ques.length){
              $(".questions").append("<p>Thank you for your responses! Press enter to Submit</p><br><button class=\"buttons\">Submit</button>");
            }else if (count<ques.length){
              next_ques(count);
            }else{
              
              return
            } 
            
          }
        }
        
        function next_ques(i){
          $(".questions").append("<p>"+ques[i]+"<input id="+labels[i]+" name="+labels[i]+" onkeypress=keyHandler(event)></p>");
        }
                 
    </script>
      <p class="text">Enter Output Variables</p>
      <form action="{{url_for('variables')}}" method="POST">
      <div class="questions mediumtext">
        <p>How does {{orgname}} measure performance or output of {{pands}}?</p>
      <p>You may provide up to five possible output variables. We will provide regression analysis for each of your output variables.</p><br/>
       1. <input id="name" name="outputs"> <br/>
       2. <input id="name" name="outputs"> <br/>
       3. <input id="name" name="outputs"> <br/>
       4. <input id="name" name="outputs"> <br/>
       5. <input id="name" name="outputs"> <br/>
      </div>
      <button type="submit" class="buttons">Next</button>
      <input type="hidden" name="vartype" value="output">
      </form>
{% endblock %}
