    
{% extends "layout2.html" %}
{% block title %} Questionnaire {% endblock %}
{% block content %}

    <script type="text/javascript">

        var ques= new Array();
        var labels= new Array();
        var orgname="{{params[0]}}"
        var client="{{params[3]}}"
        var count=-1;
        var values=new Array();
        var errors=false;
        ques[0]="What is the name of your organization?"
        ques[1]="What is the url of your organization?"
        ques[2]="Describe "+orgname+"\'s product or service you would like to evaluate."
        ques[3]="Who is "+orgname+"\'s direct customer/client?"
        ques[4]="Does "+client+"\'s serve others?"
        ques[5]="What is "+orgname+"\'s mission statement in one sentence?"
        ques[6]="What is "+orgname+"\'s sector?"
        labels[0]="orgname"
        labels[1]="url"
        labels[2]="product"
        labels[3]="client"
        labels[4]="sec_client"
        labels[5]="mission"
        labels[6]="industry"
        values[0]="{{params[0]}}"
        values[1]="www.sample.com"
        values[2]="{{params[2]}}"
        values[3]="{{params[3]}}"
        values[4]="{{params[4]}}"
        values[5]="{{params[5]}}"
        values[6]="{{params[6]}}"
        
        $(document).ready(divHandler);
        
        $('input').on('input', function() {
            $('#update').val("true");
        });
        function divHandler(){
          for(count=0;count<labels.length;count++){
            next_ques(count);
          }
          
         var allInputs=$(":text")
         for(var i=0;i<values.length;i++){
          allInputs[i+1].value=values[i];
         }

          $(".questions").append("<p>Thank you for your responses! Press enter to Submit</p><br><button class=\"buttons\" onclick=javascript:checkFields(event)>Submit</button>");
        
        
        $("#mission").css("width",function(){return 20*$(this).val().length});

        }
        
        function next_ques(i){
          $(".questions").append("<p>"+ques[i]+"<input type=\"text\" id="+labels[i]+" name="+labels[i]+" value="+values[i]+"></p>");      
        }

        function checkFields(e){
          errors=false;
          var allInputs=$(":text");
          for(var i=0;i<allInputs.length;i++){
            console.log(allInputs[i].value);
            if($.trim(allInputs[i].value)==''){
              console.log(allInputs[i].value);
              allInputs[i].style.backgroundColor="aquamarine";
              errors=true;
            }
          }
          if(errors==false){
            document.qform.submit();
          }else{
            e.preventDefault();
            $("#content").prepend("<p class=\"flashes\">Please fill highlighted fields</p>");
          }
        }  

    
    </script>
      <span class="login-text">Questionnaire</span>
      <hr/>
      <p class="login-text">You may edit your previously entered responses shown below.<br/>
      </p>
      <form name="prjform" action="{{url_for('saveproject')}}" method="POST">
      <div class="questions login-text">
        <p>What is the name of your project? <input type="text" id="name" name="name" value="{{params[1]}}"></p>

      </div>
      <input type="hidden" name="update" value="false">
      <input type="hidden" name="proj_status" value="old">
      </form>

{% endblock %}
