{% extends "layout2.html" %}
{% block title %} Welcome {% endblock %}
{% block content %}
	<script type="text/javascript">
	function gotoproject(pid)
	{
		$("input:hidden[name=pid]").val(pid);
		document.prjform.submit();		
	}

    function clearpid()
    {
        $("input:hidden[name=pid]").remove();
        document.prjform.submit();         
    }
	</script>
    <form name="prjform" action="interview" method="POST">
    	
        <div class="login-text">Welcome,&nbsp; {{username}}</div><br/>
        <hr/>
        <div class="login-text" style="width:80%">
        In order to begin your analysis, you first have to define your project. Hit "Add New" to start a new project. We will ask you some basic information about your project and guide you through the analysis in the next following steps.</div><br/>
        <button class="bigbuttons" type="button" onclick=javascript:clearpid()>Add New</button>     
        <br/><br/>
        {% if projects|length!=0 %}
        <div class="login-text"> Previous Projects
        <hr/>
        {% for p in projects %}
        <p>{{p.name}}<button class="buttons" type="button" onclick=javascript:gotoproject("{{p.id}}")>Go</button></p>
        {% endfor %}   
        {% endif %} 
        </div>
        <input type="hidden" name="pid">
    </form>
      
{% endblock %}