{% extends "layout2.html" %}
{% block title %} Welcome {% endblock %}
{% block content %}
	<script type="text/javascript">
	function gotoproject(pid)
	{
		$("input:hidden[name=pid]").val(pid);
		document.prjform.submit();		
	}
	</script>
    <form name="prjform" action="interview" method="POST">
    	
        <div class="login-text">Welcome,&nbsp; {{username}}
        <br><strong> Your Projects&nbsp; </strong> <button class="buttons">Add New</button> 	  
        {% for p in projects %}
        <p>{{p.name}}<button class="buttons" type="button" onclick=javascript:gotoproject("{{p.id}}")>Go</button></p>
        {% endfor %}    
        </div>
        <input type="hidden" name="pid">
    </form>
      
{% endblock %}