    
{% extends "layout2.html" %}
{% block title %} Questionnaire {% endblock %}
{% block content %}
    <script type="text/javascript">
        var ques= new Array();
        var labels= new Array();
        var orgname=""
        var client=""
        var count=-1
        var projname=""

        ques[0]="What is the name of your organization?"
        ques[1]="What is the url of your organization?"
        labels[0]="orgname"
        labels[1]="url"
        labels[2]="product"
        labels[3]="client"
        labels[4]="sec_client"
        labels[5]="mission"
        labels[6]="industry"

        function keyHandler(e){
          var ENTERKEY=13;
          if(e.keyCode==ENTERKEY){
            count=count+1;  
            orgname=$('#orgname').val();
            projname=$('#name').val();
            ques[2]="Describe "+projname+"'s product or service you would like to evaluate."
            ques[3]="Who is "+projname+"'s direct customer/client?"
            client=$('#client').val();
            ques[4]="Does "+client+" serve others?"
            ques[5]="What is "+orgname+"'s mission statement in one sentence?"
            ques[6]="What is "+orgname+"'s sector?"
            if(count==ques.length){
            	$(".questions").append("<p>Thank you for your responses! Press enter to Submit</p><br><button id=\"submit\" class=\"buttons\" onclick=javascript:checkFields(event)>Submit</button>");
            }else if (count<ques.length){
            	next_ques(count);
            }else{
            	
            	return
            }	
            
          }
        }
        
        function next_ques(i){
          $(".questions").append("<p>"+ques[i]+"<input id="+labels[i]+" name="+labels[i]+" onkeypress=keyHandler(event)></p>");
        }

        function checkFields(e){
          errors=false;
          var allInputs=$(":text");
          for(var i=0;i<allInputs.length;i++){
            console.log(allInputs[i].value);
            if($.trim(allInputs[i].value)==''){
              console.log(allInputs[i].value);
              allInputs[i].style.backgroundColor="aquamarine";
              errors=true;
            }
          }
          if(errors==false){
            alert("leaving");
            document.qform.submit();
          }else{
            e.preventDefault();
            $("#content").prepend("<p class=\"flashes\">Please fill highlighted fields</p>");
          }
        }  

    </script>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <span class="login-text">Questionnaire</span>
      <hr/>
      <p class="login-text">We have a small questionnaire for you. Your responses are important for an in-depth analysis and reporting. <br/>
      <span class="mediumtext">After each response, hit enter to view other questions</span></p>
      <form name="qform" action="{{url_for('saveproject')}}" method="POST">
      <div class="questions login-text">
        <p>What is the name of your project? <input id="name" name="name" onkeypress="keyHandler(event)"></p>
      </div>
      <input type="hidden" name="proj_status" value="new">
      </form>
{% endblock %}
