{% extends "layout2.html" %}
{% block title %} Regressions {% endblock %}
<style type="text/css">
      .footer{
        height: 10%
        width:40%;
        position: relative;
        top: 200%;
        float: left;
      }
</style>
{% block content %} 
<script>
  $(document).ready(function(){
    $("#answer").removeClass("box-highlighted").addClass("box");
    $("#analyze").addClass("box-highlighted").removeClass("box");
  })
</script>
<p class="login-title"}>Regression Analysis</p>
{% for r in regs %}
<div class="summary">
<p class="mediumtext">What are we measuring? </p>
<hr/>
<p class="mediumtext" style="width:30%;">{{r[0]}}</p>
<hr/>
<p class="mediumtext">R-squared (adjusted): {{r[1]}}</p>
<p class="mediumtext">F-stat: {{r[2]}}</p>
<p class="mediumtext">p-value: {{r[3]}}</p>
<p class="mediumtext">Degrees of Freedom: {{r[4]}}</p>
<p class="mediumtext">No. of observations: {{r[5]}}</p>
<p class="mediumtext">Output Variable: {{r[8]}}</p>
</div>
<div class="table">
<span class="mediumtext">
<table>
<tr>
<th></th>
<th>Coefficient</th>
<th>p-value</th>
<th>Std Error</th>
<th>t-stat</th>
</tr>
<tr>

</tr>
<tr>
<td>INPUTS</td>
</tr>
{% for i in r[6]%}
<tr>
  <td>{{i[0]}}</td>
  <td>{{i[1]}}</td>
  <td>{{i[2]}}</td>
  <td>{{i[3]}}</td>
  <td>{{i[4]}}</td>
</tr>
{% endfor %}

<tr>
</tr>

<tr>
<td>CONTROLS</td>
</tr>
{% for c in r[7]%}
<tr>
  <td>{{c[0]}}</td>
  <td>{{c[1]}}</td>
  <td>{{c[2]}}</td>
  <td>{{c[3]}}</td>
  <td>{{c[4]}}</td>
</tr>
{% endfor %}

</table>
</span>
</div>
{% endfor %}
<br/><br/>
<form action="report" method="GET">
<button class="buttons">View Report</button>

</form>
{% endblock %}