    
{% extends "layout.html" %}
{% block title %} Login {% endblock %}
{% block content %}
      <div id="steps" class="steps">
          <img src="../static/images/text-file-icon_1.png" class="icons">
          <span class="login-title">Upload your data</span>
          <br><br>
          <img src="../static/images/question_1.jpg" class="icons">
          <span class="login-title">Answer questions</span>
          <br><br>
          <img src="../static/images/trend_1.png" class="icons"> 
          <span class="login-title">Get results</span>
      </div>
      <div class="vline">

      </div>
      <div id="login" class="login">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <form action="login" method="POST"> 
          <span class="login-title">Login /&nbsp;
          <a href="{{url_for('gotosignup')}}">New User? Sign Up!</a></span>
          <br><br>
          <span class="login-text">Login ID/ Email: <input name="username">
          <br><br>
          Password: <input name="password" type="password">
          <br><br>
          <input type="checkbox" name="remember" value="yes"> Remember Me</span>
          <br><br>
          <button class="buttons">Login</button>
      </form>
    </div> 
{% endblock %}
