 <!DOCTYPE html>
    <html>
      <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
        </script>
        <title>The d3 test</title>
<style>
.chart {

}

.main text {
    font: 10px sans-serif;	
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

circle {
    fill: steelblue;
}

</style>
        <script type="text/javascript" src="http://mbostock.github.com/d3/d3.v2.js"></script>
      </head>
      <body>
        <div class='content'>
          <!-- /the chart goes here -->
        </div>
        <script type="text/javascript" src="coffedat.json"></script>
        <script type="text/javascript" src="scatterchart.js"></script>
      </body>
    </html>