{% extends "layout2.html" %}
{% block title %} Upload File {% endblock %}
{% block content %} 
<script>
  $(document).ready(function(){
    $("#answer").removeClass("box-highlighted").addClass("box");
    $("#upload").addClass("box-highlighted").removeClass("box");
    $("button#add").click(function(){  
      var $s=$("#varlist").clone(true);
      $s.appendTo($(this).parent());
    });
  });

  function htmlDecode(value){
    return $('<div/>').html(value).text();
  }
</script>

<div class="steps">
  <span class="mediumtext">Select the variables from your dataset that represent {{vartype}} variables. If you have more than one variable in your dataset that measures an {{vartype}} variable, press “Add” so you can input the additional variable(s) that represent a specific {{vartype}} variable. Later we will help you decide which measure to use.  Please note that if you don't want to enter information for some variables or if you don't have data, please select "Data Not Collected".
</span><br>
  <form action="/store" method="POST" id="varform">
    <button type="submit" class="buttons">Submit</button>
  <span class="mediumtext">    
    <ol>
    {% for uvar in uservars %}
     <div id="dropdown">
     <li>{{uvar}}</li>  
     <span id="varlist">
     <select name="{{uvar}}" id="{{uvar}}" form="varform">
     <option name="variables" value="nodata">Data Not Collected</option>
     {% for var in vars %}
     <option name="variables" value="{{var}}">{{var}}</option>
     {% endfor %}
     </select>
      </span>
     <button type="button" class="smallbuttons" id="add">Add</button><br/>
     </div>
    {% endfor %}
    </ol>
  </span>
   </form>
</div>
<div class="text right">
  <!--<span class="smalltext"><strong>{{vartype}} Variables &nbsp;(Tick all that apply. )</strong></span>-->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
 <!-- <form action="/store" method="POST">
  {% for var in vars %}
  <input type="checkbox" name="variables" value="{{var}}"><label class="smalltext">{{var}}</label><br>
  {%endfor%}
  <button class="buttons">Submit</button>
</form>-->
</div>
{% endblock %}