    
{% extends "layout.html" %}
{% block title %} Login {% endblock %}
{% block content %}
      <script type="text/javascript">
        function checkFields(e){
          var errors=false;
          var username=$("#username");
          var email=$("#email");
          var password=$("#password");
          if($.trim(username.val())==''){
              username.css('background-color',"aquamarine");
              errors=true;
            }


          if($.trim(email.val())==''){
              email.css('background-color',"aquamarine");
              errors=true;
            }


          if($.trim(password.val())==''){
              password.css('background-color',"aquamarine");
              errors=true;
            }
   
          
          if(errors==false){
            document.qform.submit();
          }else{
            e.preventDefault();
            $("#logins").prepend("<p class=\"flashes\">Please fill highlighted fields</p>");
          }
        } 
      </script>
      <div id="steps" class="steps">
          <img src="../static/images/text-file-icon_1.png" class="icons">
          <span class="login-title">Upload your data</span>
          <br><br>
          <img src="../static/images/question_1.jpg" class="icons">
          <span class="login-title">Answer questions</span>
          <br><br>
          <img src="../static/images/trend_1.png" class="icons"> 
          <span class="login-title">Get results</span>
      </div>
      <div class="vline">

      </div>
      <div id="login" class="login">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    <form name="qform" action="signup" method="POST">
     <div id="logins" class="login-text">Enter your username<input type="text" id="username" name="username">
     <br><br>
     Enter your password<input type="password" name="password" id="password">
     <br><br>
     Enter your email ID<input type="text" id="email" name="email">
     <br><br>
     </div>
    <button class="buttons" onclick=javascript:checkFields(event)>Sign Up</button>
    </form>
    
    </div> 
{% endblock %}
